/* general */

body {
  /* margin-left: 10%;
  margin-right: 10%; */

}

div {
  border: 1px solid red;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #3b5998;
}

/* Header */

.header {
  background-color: #3b5998;
  color: white;

  display: grid;
  grid-template-columns: 10% 70% 10%;
  grid-template-rows: 82px;

  /* flex-wrap: wrap; */
}

.innerHeader {
  grid-template-columns: 10% 12% 40% 12% 12% 4% 10%;
  grid-template-rows: 78px;
}

.leftHeader {
  grid-column-start: 2;
}

.emailLogIn {
  grid-column-start: 4;
}

.passwordLogIn {
  grid-column-start: 5;
}

.logInButton {
  grid-column-start: 6;
}

/*  Main Body */

.mainBody {
  background-color: #dfe3ee;

  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 70%
}

.leftBody {
  grid-column-start: 2;
}

/* Footer */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
