/* general */

body {
  /* margin-left: 10%;
  margin-right: 10%; */
  min-width: 980px;

}

div {
  border: 1px solid red;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #3b5998;
}

/* Header */

.header {
  background-color: #3b5998;
  color: white;

  display: grid;
  grid-template-columns: 10% 70% 10%;
  grid-template-rows: 82px;

  /* flex-wrap: wrap; */
}

.innerHeader {
  width: 980px;

  grid-column-start: 2 ;

  display: grid;
  grid-template-columns: 17% 44% 17% 17% 5%;
  grid-template-rows: 20px 24px 16px;
}

.leftHeader {
  grid-column-start: 1;

  width: 170px;
}

.emailLogInLabel {
  grid-column-start: 3;
  grid-row-start: 1;
}

.emailLogInInput {
  grid-column-start: 3;
  grid-row-start: 2;
}

.passwordLogInLabel {
  grid-column-start: 4;
  grid-row-start: 1;
}

.passwordLogInSpace {
  grid-column-start: 4;
  grid-row-start: 2;
}

.forgotAcct {
  grid-column-start: 4;
  grid-row-start: 3;
}

.logInButton {
  grid-column-start: 5;
  grid-row-start: 2;
}

/*  Main Body */

.mainBody {
  background-color: #dfe3ee;

  display: grid;
  grid-template-columns: 10% 42% 38% 10%;
  grid-template-rows: 70%
}

.leftBody {
  grid-column-start: 2;
  /* margin-right: 100px; */
}

/* Footer */
